@import 'tailwindcss';

/* You can add global styles to this file, and also import other style files */
html {
  display: block;
  height: 100%;
  background-color: #ffffff;
  background-image: radial-gradient(circle, #d8dce4 2px, transparent 1.5px);
  background-size: 24px 24px;
  background-repeat: repeat;
  transition: background-color 0.3s ease, background-image 0.3s ease;
}

body {
  display: block;
  height: 100%;
  transition: color 0.3s ease;
}

html.dark {
  background-color: #15151e;
  background-image: radial-gradient(circle, #232338 2px, transparent 1.5px);
}


html.dark .border-gray-300 {
  border-color: #3a3a50 !important;
}



@theme {  
    --breakpoint-xs: 32rem;
    --color-deki-blue: #8ad4fb;  
    --color-deki-orange: #ffdba1;  
    --color-deki-pink: #f886bd;
}

.bg-warning {
    background-color: #cf6c84;
    background-image: url('/bg-warning.svg');
}

.bg-profile {
    background-color: #fafaff;
    background-image: url('/bg-profile-full.svg');
}

.bg-profile-lite {
    background-color: #fafaff;
    background-image: url('/bg-profile-lite.svg');
}

.bg-terminal {
    background-color: #070709;
    background-image: url('/bg-terminal.svg');
}

.bg-terminal-2 {
    background-color: #000000;
    background-image: url('/bg-terminal-2.svg');
}




